# Api
PORT="3001"
API_PREFIX="/api"
ALLOWED_ORIGINS="*"

# JWT
JWT_ACCESS_EXPIRES_IN="15m"
JWT_ACCESS_SECRET_KEY="6YcVcnhk2i8LLzST/mwa5zQ3UEQ8nDLMfQrubGKm5Rk="
JWT_REFRESH_EXPIRES_IN="7d"
JWT_REFRESH_SECRET_KEY="qP4fFAD+xvvb1JLJ+ZGBgfmEyMjFSs7yUVszDBNkVTo="

THS_API_KEY=""

# Auth - 多设备控制
AUTH_MAX_DEVICES="5"

# 项目连接数据库时使用统一连接串 postgres://[user]:[pass]@host:port/db
# PG_URL="postgres://${PG_USER}:${PG_PASS}@${PG_HOST}:${PG_PORT}/${PG_DB}"
PG_URL=""

# 项目连接数据库时使用统一连接串 redis://[user]:[pass]@host:port[/db]
# REDIS_URL="redis://${REDIS_USER}:${REDIS_PASS}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}"
REDIS_URL=""
REDIS_KEY_PREFIX="quant-"
